[Unit]
Description=Monitoring Stack (Prometheus + Grafana) via Docker Compose
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/{{ monitoring_user }}
ExecStart=/usr/bin/docker-compose -f /home/{{ monitoring_user }}/docker-compose.yml up -d
ExecStop=/usr/bin/docker-compose -f /home/{{ monitoring_user }}/docker-compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target 