monitoring_user: "<MONITORING_USER_NAME>"
monitoring_user_password: "<MONITORING_USER_PASSWORD>"
path_to_ssh_key: "<SSH_KEY_PATH>"
prometheus_version: latest
grafana_docker_tag: "grafana/grafana-oss:10.2.3" 